@import 'reboot.css';
@import 'header.css';
@import 'cart.css';
@import 'main.css';
@import 'footer.css';

html,
body {
    height: 100%;
}

body {
    font-family: 'Prompt', sans-serif;
    font-family: 'Prosto One', cursive;
    font-family: 'Roboto', sans-serif;
    background-color: #74705c;
}
