*,*::before,*::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    font-family: 'Prompt', sans-serif;
    font-family: 'Prosto One', cursive;
    font-family: 'Roboto', sans-serif;
    background-color: #74705C;

}
header{
     background-color: #000000;
}

.navbar .container{
    height: inherit;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.navbar-menu{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
.navbar-menu li {
    display: inline-block;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color:white;
        padding-right: 50px;
        
}
    
.navbar-menu li a {
    display: inline-block;
    text-decoration: none;
    color:white;
    transition: all .0.9s ease-in-out;
    
}
.navbar-menu li a:hover {
    color:#AE9441;
    
}
.navbar-wrap {
    display:flex;
    flex-flow: row nowrap;
    }
.opt {
    color:white; 
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    margin-left: 86px;
    margin-right: 188px;
}
.kozina-logo {
  width: 118px;
}
.block{
    background-color: black;
    display:flex;
    text-align: center;
    width: 100%;
    height: 720px;
}
.hockey{
    color:#ffffff;
    font-size:40px;
    font-family: 'Prosto one';
    line-height: 49px;
    width: 920px;
    height: 105px;
    padding-left: 214px;
    padding-top: 96px;
}
.knopka{
    font-family: 'Prosto One';
    position:absolute;
    align-items: center;
    float:left;
    background: #AE9441;
    border: 1px solid #FFFFFF;
    height: 66px;
    width: 314px;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    left: 420px;
    margin-top: 329px;
}
.knopka a{
    list-style: none;
    text-decoration: none;
    color: #ffffff;
}
.knopka:hover{
    font-family: 'Prosto One';
    position:absolute;
    align-items: center;
    float:left;
    background: #000000;
    border: 1px solid #FFFFFF;
    height: 66px;
    width: 314px;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #AE9441;
    left: 420px;
    margin-top: 329px;
    transition: all 1s;
}
.knopka a:hover{
    list-style: none;
    text-decoration: none;
    color: #ffffff;
    transition: all 1s;
}
.hover-image-scale {
    display: inline-block; 
    overflow: hidden; /* Скрываем всё за контуром */
  }
  .hover-image-scale img {
    transition: 1s; /* Время эффекта */
    display: block; 
  }
  .hover-image-scale img:hover {
    transform: scale(1.2); /* Увеличиваем масштаб */
  }
  .container .block__banner {
    margin-top: 102px;
    height: 781px;
    width: 100%;
    background-color: black;
  }
.text__banner {
    line-height: 29;
    float:right;
    margin-right:19px;
height: 246px;
width: 1071px;
font-family: 'Roboto';
font-weight: 275;
font-size: 24px;
line-height: 36px;
color: #FFFFFF;
font-weight: 300;
align-items: right;
padding-top: 184px;
}  
.img-banner{
    padding-top:40px;
}   
.btn__banner {
    left:1055px;
    font-family: 'Prosto One';
    position:absolute;
    align-items: center;
    float:left;
 background: #AE9441;
border: 1px solid #FFFFFF;
height: 66px;
width: 314px;
font-weight: 400;
font-size: 24px;
line-height: 30px;
text-align: center;
color: #FFFFFF;
margin-top: 513px;
}
.btn__banner:hover{
    left:1055px;
    font-family: 'Prosto One';
    position:absolute;
    align-items: center;
    float:left;
 background:#000000;
border: 1px solid #FFFFFF;
height: 66px;
width: 314px;
font-weight: 400;
font-size: 24px;
line-height: 30px;
text-align: center;
color: #FFFFFF;
margin-top: 513px;
transition: all 1s;
}
.img-banner {
    display: inline-block; 
    overflow: hidden; /* Скрываем всё за контуром */
  }
  .img-banner img {
    transition: 1s; /* Время эффекта */
    display: block; 
  }
  .img-banner img:hover {
    transform: scale(1.2); /* Увеличиваем масштаб */
  }
.footer{
     margin-top: 270px;
    display:flex;
    justify-content:  space-between;
    background-color:#000000;
    padding:115px 0 105px;
}
.container {
    display: flex;
    justify-content: space-between;
}
.footer__logo {
    padding-right: 286px;
}
.footer-wrap {
    display: flex;
    justify-content: space-between;
}
.footer-nav__title{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;
padding-right: 242px;
color: #AE9441;
}
.footer-nav__item a{
    margin-bottom: 20px;
    padding-top: 24px;
    color:#FFFFFF;
    text-decoration: none;
}
.footer-nav__item {
    margin-bottom: 20px;
    padding-top: 24px;
    text-decoration: none;
    font-family: 'Prompt';
font-style: normal;
font-weight: 300;
font-size: 13px;
line-height: 20px;
}
.footer-nav__item a:hover{
 color:#e4b51c;
 transition: all 1s;
}
.footer-copyright{
    padding: 35px 0;
    text-align: center;
    background-color: #e7f5f8;
}
.massegers {
    text-decoration: none;
    margin-top: 98px;
    padding-right: 15px;
}
.massegers a{
    padding-right: 15px;
    text-decoration: none;
}


/* DOSTAVKA */

.container .block__dostavka {
    display: block;
    justify-content: sp;
}
.title-bl-dos {
    font-family: 'Prosto One';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    padding-left: 149px;
    padding-top: 72px;
    color: #FFFFFF;
}
.text-price-region {
    font-family: 'Prosto One';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 59px;
padding-left: 149px;
padding-top: 33px;
color: #FFFFFF;

}
.zakaz {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    padding-top: 38px;
    color: #000000;
    
}
.Dostavka__MOskva {
    padding-left: 149px;
    padding-top: 54px;
    font-family: 'Prosto One';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    
    color: #FFFFFF;

}
.dos-Msk{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    padding-top: 25px;
    color: #000000;
}
.Dostavka-in-punkt {
    font-family: 'Prosto One';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    padding-left: 149px;
    padding-top: 25px;
    color: #FFFFFF;
}
.PVZ {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    padding-top: 28px;
    color: #000000;
}
.RUSSIA {
    font-family: 'Prosto One';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    padding-left: 149px;
    padding-top: 73px;
    color: #FFFFFF;

}
.dostavka-tovars {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    padding-top: 32px;
    color: #000000;
    
}
.sposop_oplata {
    font-family: 'Prosto One';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    padding-top: 74px;
    padding-left: 149px;
    padding-bottom: 48px;
    color: #FFFFFF;
}
.banks_cards {
        padding-left: 178px;
        padding-right: 120px;
}


main{
    width: 100%;
    height: 400px;
    padding: 10px 8%;
    display: flex;
    margin-top: 140px;
    justify-content: space-between;
}

.item{
    width: 24%;
    height: 400px;
    background: white;
    padding: 5px;
    position:relative;
    transition:0.5s;
    border-radius: 20px;
}
.item:hover{
    height: 560px;
}
.item:hover .dat{
    padding: 5px;
    height: 250px;
}
.item:hover img{
    transform:scale(0.8)
}
.item img{
    padding:15px 30px;
    margin-left: 15px;
    padding-left: 58px;
    width: 79%;
    transition: inherit;
    transform: scale(1.09);
}
.img-nal{
    margin-top: 50px;
    padding-left: 58px;
    margin-left: 28px;
}
.dat{
    width: 100%;
    height: 0;
    background: #eee;
    padding: 0;
    position:absolute;
    bottom: 1px;
    left: 0;
    transition: inherit;
    border-radius: 0 0 20px 20px;
    overflow:hidden;
}
.dat p{
    margin: 10px auto;
}
.dat strong{
    display:inline-block;
    width: 100%;
}
.dat p:first-child strong{
    width: 75%;
}
.price{
    font-size:17px;
    font-weight: bold;
}
.in span{
    width: 25px;
    height: 25px;
    line-height: 25px;
    background-repeat: 50%;
    background: white;
    display:inline-block;
    text-align:center;
    margin: 0 6px;
}
.in span.active{
    background: #AE9441;
    color:#000;
}
.buy{
    border: none;
    outline: none;
    padding: 8px 20px;
    background:#AE9441;
    margin: 5px 30px 0 5px;
    color: white;
    cursor:pointer;
}
.counter{
    display: flex;
}
.counter__btn{
    background: #74705C;
    color: #e4b51c;
    border-radius: none;
}
.counter__value{
    width: 63px;
    height: 28px;
    background: #74705C;
    text-align: center;
    color: #e4b51c;
    border-radius: 3px
}
/*-Company-*/
.container .company{
    display: block;
}
.title-company{
    font-family: 'Prosto One';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    padding-top: 115px;
    padding-left: 447px;
    color: #FFFFFF;
}
.company-ice_hockey{
    padding-top: 152px;
    padding-left: 312px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    
    color: #eee;
}
.klient-title{
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    padding-top: 59px;
    padding-left: 350px;
    color: #000000;
}
.text-klient{
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    padding-top: 1px;
    padding-left: 350px;
    color: #FFFFFF;
}
.history_shop{
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    padding-top: 115px;
    padding-left: 202px;
    color: #000000;
}
.podhod_for_products{
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    padding-top: 92px;
    padding-left: 350px;
    color: #000000;
    
}
.text_podhod{
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    padding-top: 17px;
    padding-left: 350px;
    color: #FFFFFF;
}
/*cart*/
.title-cart{
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    padding-top: 111px;
    padding-left: 149px;
    color: #FFFFFF;
}
table{
    width: 1104px;
    border:#000000;
    border-collapse: separate;
    border-spacing:15px;
    background: #74705C;
    color:#e4b51c;
    box-sizing: border-box;
    text-align: center;
    margin-left: 270px;
    margin-top: 85px;
}
th{
    box-sizing: border-box;
    padding: 40px;
}